html, body {
    height:100%;
}

html {
	display: table;
    margin: auto;
    background-color:white;
}

body {
    display: table-cell;
    vertical-align: middle;
  	background-repeat: no-repeat;
  	background-color:white;
  	width:1250px;
}

#modelBack{
	/*display: inline-block;*/
	margin: 0 auto;
	position:relative;
	background-color:white;
	width:1250px;
/*	padding-top:25px;
	padding-bottom:25px;*/
	/*height:550px;*/
}

.links{
	position:relative;
	/*display: inline-block;*/
	margin: 0 auto;
	width:1050px;
	height:50px;
	/*background-color:red;*/
}

#modelContainer{
	position:relative;
	/*display: inline-block;*/
	margin: 0 auto;
	/*padding-top:200px;*/
	width:1050px;
	/*height:50px;*/
	/*background-color:red;*/
}

#testBack{
	background-color:#14022B;
	/*display: inline-block;*/
	position: relative;
	margin: 0 auto;
	padding-top:70px;
	padding-bottom:80px;
	padding-left:40px;
	padding-right:40px;
	border-radius:40px;
	width:1008px;
}

#test{
	display: inline-block;
	margin: 0 auto;
	position:relative;
	/*border: 5px;*/
	/*border-style: solid;*/
	/*border-color:black;*/
	border-radius:20px;
/*	border-top-width:60px;
	border-bottom-width:80px;
	border-left-width:20px;
	border-right-width:20px;*/
	width:1000px;
	height:450px;
}

#title{
	text-align:center;
}

#heading{
	font-family:Futura;
	font-size:16px;
	color:white;
	position:absolute;
	margin-top:31px;
	margin-left:67px;
	z-index:10;
	font-weight: 10;
}

#model{
	position:absolute;
	font-family: Futura;
	font-weight: 10;
	color:white;
	font-size: 16px;
	/*background-color:red;*/
	z-index:10;
	width:90px;
	right:0px;
	margin-top:31px;
}

#mainLogo{
	display: block;
    margin: 0 auto;
/*	position:absolute;
	margin-top:-160px;*/
 /*  width: 500px;
   height: 500px;*/
}

#save{
	position:absolute;
	margin-top:-70px;
	right:30px;
	text-decoration: none;
	color: black;
	/*padding: .75em 1.25em;*/
	text-transform: uppercase;
	background-color: #A9B1BC;
	border-radius:10px;
	font-family: Futura;
	/*font-weight: bold;*/
	border-style: solid;
	border-width:4px;
	width:80px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}

#save:hover {
	cursor:pointer;
	background-color: #FF5151;
}

#fillWhite{
	position:absolute;
	margin-left:43%;
	/*margin-right:30%;*/
	margin-top:-70px;
	/*margin-left:150px;*/
	text-decoration: none;
	color: black;
	/*padding: .75em 1.25em;*/
	text-transform: uppercase;
	background-color: #A9B1BC;
	border-radius:10px;
	font-family: Futura;
	/*font-weight: bold;*/
	border-style: solid;
	border-width:4px;
	width:80px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}

#fillWhite:hover {
	cursor:pointer;
	background-color: #FF5151;
}

#clear {
	position:absolute;
	margin-top:-70px;
	left:20px;
	text-decoration: none;
	color: black;
	/*padding: .75em 1.25em;*/
	text-transform: uppercase;
	background-color: #A9B1BC;
	border-radius:10px;
	font-family: Futura;
	/*font-weight: bold;*/
	border-style: solid;
	border-width:4px;
	width:80px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}

#clear:hover {
	cursor:pointer;
	background-color: #FF5151;
}

#verifone{
	position:absolute;
	/*-webkit-filter: invert(100%);
    filter: invert(100%);*/
    width:55px;
    /*margin-top:-500px;*/
    margin-left:12px;
    margin-top:10px;
    /*background-color:red;*/
    z-index:10;
}

#file {
	display:none;
}
.column-left {
	display: inline; 
	float: left;
}
.column-right {
	display: inline; 
	float: right;
}

#rights {
	position: relative;
	margin: 0 auto;
	margin-top:-58px;
  font-family: Futura;
  color: #000000;
  /*background-color: red;*/
  height: 17px; 
  width: 1050px;
  /*border-style: solid;*/
    /*background-color:rgba(0,0,0,0.5);*/
    /*border-radius: 5px 5px 5px 5px;*/
}

#copyright {
  font-family: Futura;
  margin-top: 10px;
  font-size: 10px;
  /*width:200px;*/
  /*padding: 0px;*/
  /*margin-left: 15px;*/
  position: absolute;
  color:black;
}




